body{
  font-family: Arial;
  padding: 10px;
  background: #f4f7fb;
}

.header{
  text-align:center;
}

#searchBox{
  width:90%;
  padding:10px;
  margin:10px;
  border-radius:10px;
  border:1px solid gray;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(140px,1fr));
  gap:10px;
}

.card{
  background:white;
  padding:10px;
  border-radius:15px;
  text-align:center;
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
  transition:0.3s;
}

.card:hover{
  transform:scale(1.03);
}

.cartBox{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  background:white;
  padding:10px;
  box-shadow:0 -3px 8px rgba(0,0,0,0.2);
}
